<style>
body{background-color:lightgreen;
}
h1{background-color:lightblue;
  font-size:40px;
}
h2{font-size:30px;
}
h3{font-size:30px;
}
h4{font-size:30px;
}
h5{font-size:30px;
}
.aboutusparagraph1 { border:solid;
  font-size:20px;
}
</style>
