body{
 background-color:lightgreen;
}
h1{background-color:lightblue;
  font-size:40px;
}
h2, h3, h4, h5, h6, h7
{font-size:30px;
}
p{
 font-size:20px;
}
#aboutusparagraph1{border:solid;
  font-size:20px;
}
.image-small{width:500px;
}
.image-tcdsb{ 
 width:200px;
 float:right; 
margin-left:10px;
  }
#paragraph2{
  font-size:25px;
}
#location-s{
 font-weight:bold;
}
.allaround{
  width:250px;
  float:left;
margin-right:15px;
}
  .school-uniform{width:200px;
float:right;
margin-left:10px;
  }
.group-photo{width:300px;
  float:right;
  margin-left:10px;
  }
  .sprinter{width:200px;
 float:left; 
margin-right:10px;
padding-right:10px;
  }
 .long-jump{width:250px;
  float:right;
  margin-left:20px;
  }
.books{
 width:350px;
 float:right;
 margin-left:10px;
      }
.breakfast, class{
 width:300px;
 float:right; 
margin-left:10px;
}
.student-struggle{
 width:300px;
  float:left; 
margin-right:10px;
}
.psychology-pic{
 width:300px;
 float:right; 
margin-left:10px;
}
.class-psy{
 width:300px;
 float:left; 
margin-right:10px;
}
#conclude{
 font-size:20px;
 font-weight:bold;
}
.trainingimg{
 width:250px;
}
#studentlife{
 font-size:40px;
}
index.html, page2.html, page3.html, custom.html{
  max-width:150px;
}
#uni-coord{
 font-size:40;

}
.topnav {
  background-color: black;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:blue;
  color: black;
}

.topnav a.active {
  background-color:black;
  color: blue;
}
