<style>
body{background-color:lightgreen;
}
h1{background-color:lightblue;
  font-size:40px;
}
h2, h3, h4, h5
{font-size:30px;
}
.aboutusparagraph1 { border:solid;
  font-size:20px;
.image-small{width:200px;
}
.image-tcdsb{width:200px;
 float:left; 
margin-right:10px;
  .school-uniform{width:200px;
float:right;
margin-left:10px;
  }
